<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>minimalism - zen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="static/styles.css" rel="stylesheet">
</head>

<header><br>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="index" style="color: black;">mnmlsm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="more" style="color: black;">more</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="zen" style="color: black;">zen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="not_mnmlst_list" style="color: black;">not mnmlst list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mscncptns" style="color: black;">mscncptns</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="breathe" style="color: black;">breathe</a>
        </li>
    </ul>
</header>

<body>       
{% block main %}
{% endblock %}
</body>

</html>
