{% extends 'base.html' %}

{% block main %}

<div class="page1">
    <br><br><br>
    <h2 style="text-align: center;">Breathe</h2>
    <p style="text-align: center; font-size: 14px;"><em>from</em>
    <a href="https://zenhabits.net/more/"> zenhabits</a></p>
    <div class="poem0" style="text-align: center;"><br>
        <p>If you feel overwhelmed, breathe. It will calm you and release the tensions.</p>
        <p>
            If you are worried about something coming up, or caught up in something that already happened, breathe.
            It will bring you back to the present.
        </p>
        <p>If you are moving too fast, breathe. It will remind you to slow down, and enjoy life more.</p>
        <p>
            Breathe, and enjoy each moment of this life. They’re too fleeting and few to waste.</p><br>
        <br><br><h2 style="text-align: center;">mnmlsm for your eyes</h2>
        <img src="static/minimal1.jpg" alt="minimal-home"><br>
        <img src="static/minimal2.jpeg" alt="living-room"><br>
        <img src="static/minimal3.jpg" alt="ikebana"><br>
        <img src="static/minimal4.jpg" alt="minimal-office">
    </div>
</div>

<footer class="rectangle"><br>
    <div class="card">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="font-size: 17px;">Make things as simple as possible but no simpler.</p>
                <p class="blockquote-footer">Albert Einstein, 1879.<cite title="Source Title"></cite></p>
            </blockquote>
        </div>
    </div>
</footer>

<br><br><br>
<p id="msg" style="display: block; text-align: center; font-size: 14px;"></p><br>
<script>
document.getElementById("msg").innerHTML = Date();
</script>

{% endblock %}