{% extends 'base.html' %}

{% block main %}

        <div class="page1">
            <br><br><br>
            <h2 style="text-align: center;">Minimalism: quiet</h2>
            <p style="text-align: center; font-size: 14px;"><em>from</em>
            <a href="https://mnmlist.com/quiet/">Leo Batauta</a></p>
            <div class="poem" style="text-align: center;"><br>
                <p>"This space has been cleared, a nearly empty room.</p>
                <p>For peace, contemplation.</p>
                <p>I leave this quiet for you as a gift.</p>
                <p>And as a thank you."</p>
                <br><br><br>
            </div>
            <div class="poem" style="text-align: center;">
                <p><em>That's beautiful, but...</em></p>
                <p><em>Can you give me more?</em></p>
                <p><em>What is about minimalism?</em></p><br>
                <p><em><a href="/more">More</a></em></p>
            </div>
        </div>
        <footer class="rectangle"><br>
            <div class="card">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p style="font-size: 17px;">Minimalism is an important ingredient for a feeling of freedom and lightness.</p>
                        <p class="blockquote-footer">Unknown :D<cite title="Source Title"></cite></p>
                    </blockquote>
                </div>
            </div>
        </footer><br><br><br>
        <p id="msg" style="display: block; text-align: center; font-size: 14px;"></p><br>
        <script>
        document.getElementById("msg").innerHTML = Date();
        </script>

{% endblock %}