<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>minimalism - zen</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="static/styles.css" rel="stylesheet">
    </head>

    <body>
         <header><br>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="index" style="color: black;">mnmlsm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="more" style="color: black;">more</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="zen" style="color: black;">zen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="not_mnmlst_list" style="color: black;">not mnmlst list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mscncptns" style="color: black;">mscncptns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="breathe" style="color: black;">breathe</a>
                </li>
            </ul>
        </header>
        <div class="page1">
            <br><br><br>
            <h2 style="text-align: center;">What is minimalism?</h2>
            <p style="text-align: center; font-size: 14px;"><em>from</em>
            <a href="https://aboutminimalism.com/what-is-minimalism/"> aboutminimalism</a></p>
            <div class="poem0"><br>
                <img class="minimal_room" src="static/minimalroom.jpeg" alt="Minimal room" title="Minimal room"><br>
                <p><em>“Minimalism is living with what you need and what you love. That’s it.”</em></p>
                <p>
                    Minimalism is a current buzz word, and the common understanding is that minimalism means
                    living with very little – in life, clothes, homes that are almost stark in their simplicity
                    and lack of adornment.
                </p>
                <p>
                    Minimalism however is not necessarily living with less, it is about discovering what is
                    important, and discarding the rest. This applies not only to our homes, but also our lives.
                </p><br>
                <p><strong>The benefits of minimalist living in your home is quite obvious:</strong></p>
                <p>&bull; Less stuff means less to clean, tidy and manage</p>
                <p>&bull; Less clutter makes spaces feel larger and airier</p>
                <p>&bull; Buying less saves money that can be used for family experiences</p>
                <p>&bull; Less to look after frees up time to use in other ways</p><br>
                <p><em>Minimalism is an important ingredient for a feeling of freedom and lightness.</em></p>
                <p>
                    That doesn’t mean there’s anything inherently wrong with owning material possessions.
                    Today’s problem seems to be the meaning we assign to our stuff –  we tend to give too much meaning
                    to our ‘things’, often forsaking our health, relationships, passions, personal growth, and
                    our desire to contribute beyond ourselves.
                </p>
                <p>
                    Want to own a car or a house? Great, have them! Want to raise a family and have a career?
                    If these things are important to you, then that’s wonderful.
                    Minimalism simply allows you to make these decisions more consciously, more deliberately.
                </p>
                <br>
            </div>
            <div class="poem1">
                <em>You could imagine that <a href="/zen">Japan</a> has something to do with that, right?</em><br><br>
            </div>
        </div>
        <footer class="rectangle"><br>
            <div class="card">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p style="font-size: 17px;">In the beginner’s mind there are many possibilities, but in the expert’s there are few.</p>
                        <p class="blockquote-footer">Suzuki S, <cite title="Source Title">Zen Mind, Beguinner's Mind</cite></p>
                    </blockquote>
                </div>
            </div>
        </footer><br><br><br>
        <p id="msg" style="display: block; text-align: center; font-size: 14px;"></p><br>
        <script>
        document.getElementById("msg").innerHTML = Date();
        </script>
    </body>

</html>
