{% extends 'base.html' %}

{% block main %}

<div class="page1">
    <br><br><br>
    <h2 style="text-align: center;">Mscncptns</h2>
    <p style="text-align: center; font-size: 14px;"><em>from</em>
    <a href="https://bemorewithless.com/minimalism-misconceptions/"> bemorewithless</a></p>
    <div class="poem0"><br>
        <p>
            Minimalism comes in many shapes and sizes. While there is no one, right way to live a minimalistic lifestyle,
            you do typically choose to live with less. In my minimalist approach, less spending, less stuff and less obligation,
            are all part of being a minimalist.
        </p>
        <p>
            More and more people are becoming interested in living real lives that don’t revolve around stuff, but are afraid
            to aspire to minimalism, because of a few misconceptions that we hope to clear up.
        </p>
        <p>
            &bull; Minimalism is an event – Minimalism starts in your heart and mind, not in your closet.
            Cleaning your closet does not make you a minimalist, but could be the start of it.</p>
        <p>
            &bull; Minimalism is a religion – The only thing you have believe in to adopt a minimalist lifestyle,
            is that your life will be better with less.
        </p>
        <p>
            &bull; Minimalists never spend money – Spending on the essentials and what matters to you,
            is different than a shopping spree at Target or spending a day at the mall. Minimalists often spend purposefully
            and vote with their dollars.
        </p>
        <p>
            &bull; Minimalists are selfish – They may not spend on extravagant gifts, but because they have
            cleared the clutter in their own lives, they have the time and space to be more thoughtful about yours,
            and in turn become more giving.
        </p>
        <p>
            &bull; Minimalists all live with less than 100 things – Many minimalists live with less than 100
            things, but that doesn’t mean you have to do that to start applying minimalism to your life.
        </p>
        <p>
            &bull; Minimalists live alone and don’t have kids –  Leo Babauta, one of the most famous minimalists is married
            with 6 children.</p>
        <p>
            &bull; Minimalism is extreme – It could be as extreme, but you can jump into minimalism anytime,
            in any situation.
        </p>
        <p>
            &bull; You have to be born into minimalism – It’s your life, and you can change it, whenever you want to.</p>
        <p>
            &bull; Minimalists don’t drive cars – Depending on your current life situation, you may need a car.
            But you can choose to drive less.
        </p>
        <p>If minimalism is appealing to you, keep in mind that you can dip your toe or dive right in!</p><br>
        <p class="poem1"><em>It's time to <a href="/breathe">breathe.</a></em></p>
    </div>
</div>

<footer class="rectangle"><br>
    <div class="card">
        <div class="card-header">
            Quote
            </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="font-size: 17px;">
                    Reduce the complexity of life by eliminating the needless wants of life, and the labors of life reduce themselves.
                </p>
                <p class="blockquote-footer">Edwin Way Teale, 1899<cite title="Source Title"></cite></p>
            </blockquote>
        </div>
    </div>
</footer>

<br><br><br>
<p id="msg" style="display: block; text-align: center; font-size: 14px;"></p><br>
<script>
document.getElementById("msg").innerHTML = Date();
</script>

{% endblock %}