
{% extends 'base.html' %}

{% block main %}

<div class="page1">
    <br><br><br>
    <h2 style="text-align: center;">25 reasons you might be a minimalist</h2>
    <p style="text-align: center; font-size: 14px;"><em>from</em>
    <a href="https://bemorewithless.com/25-reasons-you-might-be-a-minimalist/"> bemorewithless</a></p>
    <div class="poem0" style="text-align: center;"><br>
        <p>1. If you have an empty attic or storage shed, you might be a minimalist.</p>
        <p>2. If you are debt-free or paying off debt with gazelle intensity, you might be a minimalist.</p>
        <p>3. If walking through Target or Walmart makes you really uncomfortable, you might be a minimalist.</p>
        <p>4. If your children are mad at you because you canceled the cable, you might be a minimalist.</p>
        <p>5. If you can’t stop giving stuff away, and your dog is worried that he’s next, you might be a minimalist.</p>
        <p>6. If a friend asks you to go shopping, and you would rather go to the dentist, you might be a minimalist.</p>
        <p>
            7. If you don’t want your parents to stop by your yard sale, because you are selling their stuff too,
            you might be a minimalist.
        </p>
        <p>8. If you don’t have a junk drawer, you might be a minimalist.</p>
        <p>9. If you have more free time than ever before, you might be a minimalist.</p>
        <p>10. If you have ever used a car share service, you might be a minimalist.</p>
        <p>11. If you are curious about living with less than 100 things, you might be a minimalist.</p>
        <p>12. If clutter makes you crazy, you might be a minimalist.</p>
        <p>13. If you follow less than 100 people on twitter, or 100 friends on Facebook, you might be a minimalist.</p>
        <p>14. If you vote with your dollars, you might be a minimalist.</p>
        <p>15. If people who can fit all of their belongings in a backpack inspire you, you might be a minimalist.</p>
        <p>16. If you schedule time for nothing, you might be a minimalist.</p>
        <p>17. If you nap, you might be a minimalist.</p>
        <p>18. If you read a book, and then give it away, you might be a minimalist.</p>
        <p>19. If you want to have a packing party, you might be a minimalist.</p>
        <p>20. If words like trinket and souvenir make you cringe, you might be a minimalist.</p>
        <p>21. If you’ve thought about living in a tiny house, you might be a minimalist.</p>
        <p>22. If there are less than 33 things in your closet, you might be a minimalist.</p>
        <p>
            23. If you spend more time thinking of ways to reduce your overhead than ways to make money,
            you might be a minimalist.
        </p>
        <p>24. If you have more resources (time, talent, treasure) to give, you might be a minimalist.</p>
        <p>Last, but not least...</p>
        <p>25. If you would rather spend a day with Leo Babauta instead of Oprah Winfrey, you might be a minimalist.</p>
        <p>
            Maybe you agree with some of these statements, or think some are silly.
            With all of the misconceptions about minimalism, it can be confusing to see how it might apply to your life.
            You might be a minimalist, or maybe you’re just happier living with less.
        <p>
        <p>Then again, what’s the difference?</p><br>
        <p class="poem1" style="text-align: center;"><em>
            Now, check this not minimalist word: <a href="/mscncptns">misconceptions</a>
            about minimalism.
        </em></p>

    </div>
</div>

<footer class="rectangle"><br>
    <div class="card">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="font-size: 17px;">The simplest things are often the truest.</p>
                <p class="blockquote-footer">Richard Bach, 1936<cite title="Source Title"></cite></p>
            </blockquote>
        </div>
    </div>
</footer>

<br><br><br>
<p id="msg" style="display: block; text-align: center; font-size: 14px;"></p><br>
<script>
document.getElementById("msg").innerHTML = Date();
</script>

{% endblock %}