{% extends 'base.html' %}

{% block main %}

<div class="page1">
    <br><br><br>
    <h2 style="text-align: center;">Influences from japanese tradition</h2>
    <p style="text-align: center; font-size: 14px;"><em>from</em>
    <a href="https://en.wikipedia.org/wiki/Minimalism#Influences_from_Japanese_tradition"> minimalism</a></p>
    <div class="poem0"><br>
        <p>
            The idea of simplicity appears in many cultures, especially the Japanese traditional culture of Zen Philosophy.
            Japanese manipulate the Zen culture into aesthetic and design elements for their buildings.
            This idea of architecture has influenced Western Society, especially in America since the mid 18th century.
            Moreover, it inspired the minimalist architecture in the 19th century.
        </p>
        <p>
            Zen concepts of simplicity transmit the ideas of freedom and essence of living.
            Simplicity is not only aesthetic value, it has a moral perception that looks into the nature of truth
            and reveals the inner qualities and essence of materials and objects.
        </p>    
        <p>    
            For example, the sand garden in Ryoanji (below) temple demonstrates the concepts of simplicity and the essentiality
            from the considered setting of a few stones and a huge empty space.
        </p>
        <img class="garden" src="static/Kyoto-Ryoan-Ji.jpg" alt="Ryoan-Ji Garden" title="Ryoanji Garden"><br>
        <p>
            The Japanese aesthetic principle of Ma refers to empty or open space. It removes all the unnecessary
            internal walls and opens up the space. The emptiness of spatial arrangement reduces everything down
            to the most essential quality.
        </p>
        <p>
            The Japanese aesthetic of Wabi-sabi values the quality of simple and plain objects. It appreciates the absence
            of unnecessary features, treasures a life in quietness and aims to reveal the innate character of materials.
            For example, the Japanese floral art, also known as Ikebana, has the central principle of letting the flower
            express itself. People cut off the branches, leaves and blossoms from the plants and only retain the essential
            part of the plant. This conveys the idea of essential quality and innate character in nature.
        </p>
        <p>
            However, far from being just a spatial concept, Ma is present in all aspects of Japanese daily life,
            as it applies to time as well as to daily tasks.
        </p><br>
    </div>
    <div class="poem1">
        <em>Are you minimalist? Check here an <a href="/not_mnmlst_list">not mnmlst list</a></em><br><br>
    </div>
</div>

<footer class="rectangle"><br>
    <div class="card">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="font-size: 17px;">Let go, or be dragged.</p>
                <p class="blockquote-footer">Zen Proverb<cite title="Source Title"></cite></p>
            </blockquote>
        </div>
    </div>
</footer>

<br><br><br>
<p id="msg" style="display: block; text-align: center; font-size: 14px;"></p><br>
<script>
    document.getElementById("msg").innerHTML = Date();
</script>

{% endblock %}